body {
	color: #fff;
	background: #F09819;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-control {
	min-height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: transparent;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
	border-radius: 2px;
}
.login-form {
	width: 350px;
	margin: 30px auto;
	text-align: center;
}
.login-form h2 {
	margin: 10px 0 25px;
}
.login-form form {
	color: #7a7a7a;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
    border-radius: 20px;
}
.login-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	outline: none !important;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #2389cd;
}
.login-form a {
	color: #fff;
	text-decoration: underline;
}
.login-form a:hover {
	text-decoration: none;
}
.login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}
.login-form form a:hover {
	text-decoration: underline;
}
.signup-form {
	width: 400px;
	margin: 30px auto;
}
.signup-form form {
	color: #7a7a7a;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
    border-radius: 20px;
}
.signup-form h2  {
	/* color: #333; */
	margin-top: 0;
}
.signup-form hr  {
	margin: 0 -30px 20px;
}    
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #2389cd !important;
	outline: none;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

.containerNav{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    height: 80px;
}
nav a{
    color: black;
}
.nav-item a{
    font-size: 1.4em;
}
.nav-item{
    transition: 0.5s;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 15px;
}
.nav-item.active, .nav-item:hover{
    background-color: #F09819;
    border-radius: 10px;
}
.nav-item.active a,.nav-item:hover a{
    color: white !important;
}
.mainCon{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    color: black;
    padding: 20px 40px 5px;
    min-height: 75vh;
}
.mainCon2{
    min-height: 60vh;
}
.listItem{
    margin-bottom: 15px;
    padding: 15px 5px;
    /* border: 1px solid rgb(153, 152, 152); */
    border-radius: 10px;
    background: white;
}
.mainCon input, .mainCon textarea{
    background-color: white;
    
}
.bg-light{
    background-color: transparent !important;
}
.hide{
	display: none;
}





@media (max-width:769px){
    .containerNav{
        background-color: transparent;
        border-radius: 20px;
        height: 80px;
    }
    .navbar-toggler{
        /* color: black;
        background-color: black; */
    }
    .navbar-collapse{
        background-color: rgba(255, 255, 255);
        padding: 15px;
        z-index: 10;
        border-radius: 20px;
    }
}