
/*-----------------------------------*/


body {  
	background-image: linear-gradient(to right, #E7D250 , #F09B1F); /*------Body Color in Gradient-------*/
}

/*-----------------------------------*/


.FromArea{
	padding: 80px 0px;
	color: #FFFFFF;
}

.FromArea h1{
	font-weight:bold;
	text-align: center;
}

.FromArea h3{
	padding-top: 30px;
}

.FromArea .form-group{
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);  /*------Form Group Shadow-------*/
	padding: 6px;
	margin: 7px;
}

.FromArea .form-group .form-control{ /*------Css for input fields-------*/
	border-radius: 0px; 
	height: 50px;
}

.FromArea .form-group .form-control:focus{ /*------Css for input Focus hover-------*/
	box-shadow: none;
}

.FromArea .form-group .form-check{  /*------Css for check box-------*/
	height: 50px;
	padding-top: 15px;
}

.FromArea button{  /*------Button style-------*/
	width: 100%;
	border-radius: 0px;
	padding: 10px 0px;
}

.FromArea .SimpleText{  /*------Have an account text css-------*/
	padding: 20px 0px;
	text-align: center;
}


@media (min-width: 666px) and (max-width: 1280px) {


}


@media (min-width: 320px) and (max-width: 660px) {
	

}

