<div>
    <h1> {{description}} </h1>
     {{#if completed}}<h5>task completed</h5>
     {{else}} <h5>task NOT completed</h5>
     {{/if}}

{{#if in_progress}}<h5>task in progress</h5>
     {{else}} <h5>task not in progress</h5>
     {{/if}}
     
</div>