<!-- Loop over each object in the projects array -->
{{#each lists as |list| }}
<div class="row mb-4 list">
  <div class="col-md-5">

      {{user.name}}    
  </div>
  <div class="col-md-7">
    <p>

    </p>
  </div>
</div>
{{/each}}
