
<div>
  <form class="form login-form cone mt-5 hideCons">
    <h2 class="text-left">Login</h2> 
    <div class="form-group pack">
      <input class="form-control" type="text" id="email-login" placeholder="Email"/>
    </div>
    <div class="form-group pack">
      <input class="form-control" type="password" id="password-login" placeholder="Password"/>
    </div>
    <div class="form-group pack">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
    </div>
  </form>
  <p class="text-center small">Don't have an account? <a href="/signup" id="signUpPageBtn">Sign up here!</a></p>
</div>

<script src="./js/login.js"></script>
