<div>
    <form class="form signup-form cone mt-5 hideCons">
      <h2 class="text-left">Sign Up</h2> 
      <div class="form-group pack">
        <input class="form-control " type="text" id="name-signup" placeholder="Name"/>
      </div>
      <div class="form-group pack">
        <input class="form-control " type="text" id="email-signup" placeholder="Email"/>
      </div>
      <div class="form-group pack">
        <input class="form-control" type="password" id="password-signup" placeholder="Password"/>
      </div>
      <div class="form-group pack">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
  
<script src="./js/signup.js"></script>
